:root {
    --nav-bg: #222;
    --accent: #1e73be;
    --muted: #666;
}


.portfolio-section {
  text-align: center;
  padding: 60px 40px;
  background: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
}

.portfolio-subtitle {
  color: #777;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.portfolio-item {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.portfolio-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.portfolio-item h3 {
  margin: 15px 0 5px;
  font-size: 20px;
  font-weight: 600;
}

.portfolio-item p {
  margin-bottom: 15px;
  color: #777;
  font-size: 14px;
}

.portfolio-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.topbar{
   background: var(--nav-bg);
    color: white;
    padding: 12px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
  width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #ff6b6b, #ffa86b);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.nav{
  display: flex;
  gap: 30px;
}

.brand{
  display: flex;
    align-items: center;
    gap: 14px;
}

.lowbar{
   background: var(--nav-bg);
    color: white;
    padding: 12px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footernav{
  display: flex;
  gap: 30px;
}